@import "./../theme/theme";
@import "./../theme/overrides";
@import "./../theme/scrollbars";

*{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
    // @include scrollbars(0.2em, $primary)
}
#root {
    height: 100vh !important;
    overflow-y: auto;
    .scrollAble{
        overflow-y: auto;
    }
    .h-30 {
        height: 30% !important;
    }
    .h-40 {
        height: 40% !important;
    }
    .h-60 {
        height: 60% !important;
    }
    .h-70 {
        height: 70% !important;
    }
    .h-80 {
        height: 80% !important;
    }
    .h-90 {
        height: 90% !important;
    }
}
.modal{
    display: block;
}